.header-anchor {
  box-shadow: none;
}
.gatsby-resp-image-figcaption {
  text-align: center;
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
  margin-top: 10px;
}

/* .gatsby-resp-image-figure {
  margin-top: 56px;
} */

h1 {
  font-weight: 600;
  font-family: Montserrat, sans-serif;
}

h2 {
  font-weight: 500;
  font-family: Montserrat, sans-serif;
}

h3 {
  font-weight: 600;
  font-family: Montserrat, sans-serif;
  color: #555;
}

code {
  padding: 0.2em 0.4em;
  margin: 0;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
}

video {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  object-position: 0px -1px;
  border-radius: 5px;
}

li {
  margin-bottom: calc(1.75rem / 4);
}

.line {
  width: 100%;
  height: 1px;
  background-color: #eaecef;
  margin-bottom: 1.75rem;
}

ul,
li {
  list-style-position: inside;
}
